# ignore all log file
*.log

# ignore temporary file created by vim
*.swp

# ignore vimfiles/plugged/ to avoid embedding repository in the repo
vimfiles/plugged/

# ignore folder under vscode/
.vscode/