[submodule "wezterm/wezterm-config"]
	path = wezterm/wezterm-config
	url = git@github.com:Junf137/wezterm-config.git
[submodule "nvim/nvim-kickstart"]
	path = nvim/nvim-kickstart
	url = git@github.com:Junf137/kickstart.nvim.git
