# ignore all log file
*.log

# ignore temporary file created by vim
*.swp

# ignore folder under wezterm/ but not wezterm/wezterm-default
/wezterm/*
!/wezterm/wezterm-default/

# ignore folder under starship/ but not starship/starship-default
/starship/*
!/starship/starship-default/

# ignore vimfiles/plugged/ to avoid embedding repository in the repo
vimfiles/plugged/

# ignore folder under vscode/
.vscode/